<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [text]="'core.back' | translate"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <h1>{{ 'addon.messages.contacts' | translate }}</h1>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="gotoSearch()" [attr.aria-label]="'addon.messages.searchcombined' | translate">
                <ion-icon name="fas-search" slot="icon-only" aria-hidden="true"></ion-icon>
            </ion-button>
            <!-- Add an empty context menu so split view pages can add items, otherwise the menu disappears in some cases. -->
            <core-context-menu></core-context-menu>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <core-split-view>
        <core-tabs [hideUntil]="true">

            <!-- Contacts tab. -->
            <core-tab [title]="'addon.messages.contacts' | translate" (ionSelect)="selectTab(contactsType)">
                <ng-template>
                    <ion-refresher slot="fixed" [disabled]="!contactsManager.contactsLoaded" (ionRefresh)="refreshData($event.target)">
                        <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}"></ion-refresher-content>
                    </ion-refresher>
                    <core-loading [hideUntil]="contactsManager.contactsLoaded">
                        <ion-list class="ion-no-margin" *ngIf="!contactsManager.contactsEmpty">
                            <ion-item class="ion-text-wrap addon-messages-conversation-item" (click)="contactsManager.select(contact)"
                                button *ngFor="let contact of contactsManager.contacts" [attr.aria-label]="contact.fullname" detail="true"
                                [attr.aria-current]="contactsManager.getItemAriaCurrent(contact)">
                                <core-user-avatar slot="start" [user]="contact" [checkOnline]="contact.showonlinestatus"
                                    [linkProfile]="false">
                                </core-user-avatar>
                                <ion-label>
                                    <p class="item-heading">
                                        <core-format-text [text]="contact.fullname" contextLevel="system" [contextInstanceId]="0">
                                        </core-format-text>
                                        <ion-icon *ngIf="contact.isblocked" name="fas-user-slash" slot="end"
                                            [attr.aria-label]="'addon.messages.contactblocked' | translate">
                                        </ion-icon>
                                    </p>
                                </ion-label>
                            </ion-item>
                        </ion-list>

                        <core-empty-box *ngIf="contactsManager.contactsEmpty" icon="far-address-book"
                            [message]="'addon.messages.nocontactsgetstarted' | translate">
                        </core-empty-box>

                        <core-infinite-loading [enabled]="contactsManager.contactsLoaded && !contactsManager.contactsCompleted"
                            (action)="loadMoreData($event)" [error]="contactsManager.contactsFetchFailed" position="bottom">
                        </core-infinite-loading>
                    </core-loading>
                </ng-template>
            </core-tab>

            <!-- Requests tab. -->
            <core-tab [title]="'addon.messages.requests' | translate" (ionSelect)="selectTab(requestsType)" [badge]="requestsBadge"
                badgeA11yText="addon.messages.pendingcontactrequests">
                <ng-template>
                    <ion-refresher slot="fixed" [disabled]="!contactsManager.requestsLoaded" (ionRefresh)="refreshData($event.target)">
                        <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}"></ion-refresher-content>
                    </ion-refresher>
                    <core-loading [hideUntil]="contactsManager.requestsLoaded">
                        <ion-list class="ion-no-margin" *ngIf="!contactsManager.requestsEmpty">
                            <ion-item class="ion-text-wrap addon-messages-conversation-item"
                                *ngFor="let request of contactsManager.requests" [attr.aria-label]="request.fullname"
                                (click)="contactsManager.select(request)" button
                                [attr.aria-current]="contactsManager.getItemAriaCurrent(request)" detail="true">
                                <core-user-avatar slot="start" [user]="request" [linkProfile]="false"></core-user-avatar>
                                <ion-label>
                                    <core-format-text [text]="request.fullname" contextLevel="system" [contextInstanceId]="0">
                                    </core-format-text>
                                    <p *ngIf="!request.iscontact">
                                        {{ 'addon.messages.wouldliketocontactyou' | translate }}
                                    </p>
                                </ion-label>
                            </ion-item>
                        </ion-list>
                        <core-empty-box *ngIf="contactsManager.requestsEmpty" icon="far-address-book"
                            [message]="'addon.messages.nocontactrequests' | translate">
                        </core-empty-box>
                        <core-infinite-loading [enabled]="contactsManager.requestsLoaded && !contactsManager.requestsCompleted"
                            (action)="loadMoreData($event)" [error]="contactsManager.requestsFetchFailed" position="bottom">
                        </core-infinite-loading>
                    </core-loading>
                </ng-template>
            </core-tab>
        </core-tabs>
    </core-split-view>
</ion-content>
